//colors of project 

//orange colors 
$orange-color: #E5643C;
$orange-color2: #CC5C2E;
//black colors
$black-color:#050201; 
//white colors
$white-color: #FDF8F5;

//auxiliary colors
$gray-1:#AEA8A6;
   

$background-light: rgb(236, 229, 220);
$background-dark: rgb(20, 20, 20);
$gradient-color-1: rgb(178, 94, 82);
$gradient-color-2: rgb(12, 9, 5);
$gradient-color-3: rgb(9, 7, 4);
$gradient-color-4: rgb(41, 17, 17);